*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBox
{
    width: 50%;
    /* height: 400px; */
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px auto;
    position: relative;
}

form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

form h2
{
    margin: 4px;
    text-decoration: underline;
}

form div
{
    /* border: 2px solid black; */
    width: 80%;
    margin: 2px;
    text-align: center;
}

#un, #email, #pwd, #cpwd 
{
    width: 70%;
    height: 30px;
    outline: none;
    border: 2px solid black;
    border-radius: 6px;
}

.dob input
{
    width: 40%;
    height: 30px;
    outline: none;
    border: 2px solid black;
    border-radius: 6px;
}

.tc input
{
    width: 15px;
    height: 15px;
}

.btn
{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.btn button
{
    width: 70px;
    height: 30px;
    background-color: green;
    border: 4px double black;
    border-radius: 6px;
    outline: none;
    color: white;
}

button:active
{
    background-color: rgb(110, 203, 110);
}

.displayinfo
{
    width: 350px;
    background-color:plum;
    margin: 2px auto;
    border-radius: 10px;
}

.tc
{
    margin-bottom: 35px;
}