*
{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container
{
    border: 2px solid black;
    width: 100%;
}

.movie_banner
{
    position: relative;
}

.logo
{
    width: 100%;
    height: 75px;
    background-color: black;
}

.logo img
{
    width: 75px;
    height: 24px;
    margin: 28px 90px;
}

.description_box
{
    width: 41%;
    height: 36%;
    position: absolute;
    top: 170px;
    left: 80px;
    color: white;
}

.description_box h1
{
    font-family: sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}

.description_box p
{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    width: 48%;
    margin-top: 2%;
}

.description_box button
{
    width: 30%;
    height: 16%;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #BE123C;
    color: white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_box button img
{
    width: 13%;
    margin-left: 6%;
}

.search_bar
{
    margin: 57px auto;
    width: 42%;
    height: 40px;
    position: relative;
}

.search_bar input
{
    border: 2px solid firebrick;
    outline: none;
    border-radius: 6px;
    width: 88%;
    height: 82%;
    margin-left: 12%;
}


.search_bar button
{
    background: none;
    border: none;
    outline: none;
    width: 3%;
    height: 44%;
    position: absolute;
    top: 23%;
    right: 2%;
    cursor: pointer;
}

.searched_movie
{
    width: 90%;
    height: 300px;
    margin: 1px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.searched_movie_img
{
    width: 38%;
}

.searched_movie_img img
{
    width: 100%;
    height: 100%;
}

.dd
{
    font-size: 14px;
    margin: 2px;
}

.searched_movie_details_card
{
    width: 57%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.searched_movie_details
{
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.searched_movie_details small
{
    color: #B91C1C;
;
}

.recc_movie_slider
{
    margin: 70px auto;
    width: 90%;
}


input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration 
{display: none;}

.splide__slide img
{
    width: 200px;
    height: 300px;
}

.hrt
{
    border: 1px solid black;
    outline: none;
    width: 25px;
    height: 25px;
    border-radius: 14px;
    position: relative;
    bottom: 272px;
    left: -30px;
}

div#splide01-track 
{
    margin-left: 40px;
}